@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Fredoka, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    @apply bg-[#d2e2cb];
  }
}
